API_HOST=http://127.0.0.1:4040/api/v1
API_USERNAME=10000
API_PASSWORD=admin@spl

ORAC_DB_HOST=192.168.101.215
ORAC_DB_SERVICE=RMW
ORAC_DB_USERNAME=
ORAC_DB_PASSWORD=

LINE_NOTIFICATION_TOKEN=4mCG4UjXEIvSvSgiAN6XIet7jKDEDY7lFILHy1czQQ4
LINE_NOTIFICATION_DOM_TOKEN=4mCG4UjXEIvSvSgiAN6XIet7jKDEDY7lFILHy1czQQ4